<!DOCTYPE html>
<html>
  <head
    <meta charset="utf-8">
    <title>City Complete</title>
    <link href="/public/images/favicon-16x16.png" rel="shortcut icon" type="img/png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
