<form class="" action="/suggestions" method="get">
  <input type="text" name="q" value="" placeholder="Enter City name">
  <input type="text" name="lat" value="" placeholder="Enter Latitude of City">
  <input type="text" name="long" value="" placeholder="Enter Longitude of City">
  <input type="submit" value="Submit">
</form>

<pre>{{suggestions}}</pre>
